
    .bg-cover {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('anhlop11.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .display-3 {
        color: white;
    }
    .lead {
        color: white;
    }
    .navbar-brand{
        font-size: 2rem;
    }
    
    .h69 {
    font-size: 20px;
    color: #333;
    text-align: left;
    font-weight: bold;
}
.socialfooter{
    color:gray;
}
.socialfooter2{
    color:gray;
}
.socialfooter:hover {
color:367CE5;
}
.socialfooter2:hover {
color:E9A92A;
}
.container {
	margin-right: 123px;
	margin-left: 123px;
}
@media screen and (max-width: 768px){
.container {
	text-align: left;
    margin-right: 3px;
    margin-left: 3px;
}
* {
    box-sizing: border-box;
}

.button {
    display: inline-block;
    font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    position: relative;
    padding: .8em 1.4em;
    padding-right: 4.7em;
    background: @button-colour;
    border: none;
    color: white;
    transition: .2s;
    &:before,
    &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        padding-top: inherit;
        padding-bottom: inherit;
        width: 2.8em;
        content: "\00a0";
        font-family: 'FontAwesome', sans-serif;
        font-size: 1.2em;
        text-align: left;
        
        transition: .2s;
        transform-origin: 50% 60%;
    }
    &:before {
        background: @button-tint;
    }
    &:hover {
        background: darken(@button-colour, 10%);
    }
    &:active,
    &:focus {
        background: darken(@button-colour, 30%);
        outline: none;
    }
}

.button {
    min-width: 15em;
}

.arrow {
    background: #FE5F55;
    &:hover {
        background: darken(#FE5F55, 10%);
    }
    &:active,
    &:focus {
        background: darken(#FE5F55, 30%);
    }
    &:after {
        content: "\F054";
    }
    &:hover:after {
        -webkit-animation: bounceright .3s alternate ease infinite;
        animation: bounceright .3s alternate ease infinite;
    }
}

.phone { 
    background: #139675;
    &:hover {
        background: darken(#139675, 10%);
    }
    &:active,
    &:focus {
        background: darken(#139675, 20%);
    }
    &:after {
        content: "\F095";
    }
    &:hover:after {
        -webkit-animation: wiggle .05s alternate ease infinite;
        animation: wiggle .05s alternate ease infinite;
    }
}

.email {
    background: #C673B3;
    &:hover {
        background: darken(#C673B3, 10%);
    }
    &:active,
    &:focus {
        background: darken(#C673B3, 20%);
    }
    &:after {
        content: "\F0E0";
    }
    &:hover:after {
        -webkit-animation: none;
        -webkit-transform: skew(-20deg);
        animation: none;
        transform: skew(-20deg);
        text-indent: .1em;
    }
}

.search {
    &:after {
        content:"\f002";
    }
    &:hover:after {
        -webkit-animation: none;
        -webkit-transform: scale(1.4);
        animation: none;
        transform: scale(1.4);
    }
}


@-webkit-keyframes bounceright {
    from { -webkit-transform: translateX(0); }
    to   { -webkit-transform: translateX(3px); }
}

@-webkit-keyframes wiggle {
    from { -webkit-transform: rotate(0deg); }
    to   { -webkit-transform: rotate(30deg); }
}

@keyframes bounceright {
    from { transform: translateX(0); }
    to   { transform: translateX(3px); }
}

@keyframes wiggle {
    from { transform: rotate(0deg); }
    to   { transform: rotate(30deg); }
}

* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 16px;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body {
  	background-color: #435165;
  	margin: 0;
}
.register {
  	width: 400px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
}
.register h1 {
  	text-align: center;
  	color: #5b6574;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}
.register form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}
.register form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
 	height: 50px;
  	background-color: #3274d6;
  	color: #ffffff;
}
.register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}
.register form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
  	margin-top: 20px;
  	background-color: #3274d6;
 	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.register form input[type="submit"]:hover {
	background-color: #2868c7;
  	transition: background-color 0.2s;
}	

.navtop {
	background-color: #2f3947;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}
body.loggedin {
	background-color: #f3f4f7;
}
.content {
	width: 1000px;
	margin: 0 auto;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}